body.index_body {
   margin-left:0px;
   margin-right:0px;
   margin-top:0px;
   margin-bottom:0px;
   background: #fcfcfc;
   font-family:verdana, helvetica, sans-serif;
}

div#top_bar {
   padding: 4px;
   font-family:verdana, helvetica, sans-serif;
   color:black;
   font-size:12px;
   line-height:14px;
}

table#main_table { width: 100%;}

td#left_column { 
	vertical-align: top;
	width: 180px;
}

td#center_column {
	vertical-align: top;
}

td#right_column { 
	vertical-align: top;
	width: 180px;
}

span.tab {
   margin-left:2px;
   border-left:2px solid #dddddd;
   border-top:2px solid #dddddd;
   border-bottom:1px solid #ffffff;
   border-right:2px solid #dddddd;
   padding: 2px;
   background:white;
   font-family:verdana, helvetica, sans-serif;
   color:#3f3f3f;
   font-size:12px;
   line-height:16px;
}

span.tab_inactive {
   margin-left:2px;
   border-top:2px solid #dddddd;
   border-left:2px solid #dddddd;
   border-right:2px solid #dddddd;
   border-bottom:1px solid #dddddd;
   padding: 2px;
   background:#dddddd;
   font-family:verdana, helvetica, sans-serif;
   color:#3f3f3f;
   font-size:12px;
   line-height:16px;
}

div#main_content{
   padding: 4px;
   border:2px solid #dddddd;
   font-family:verdana, helvetica, sans-serif;
   color:black;
   background:#ffffff;
   font-size:12px;
   line-height:14px;
}

div#copyright{
   padding: 4px;
   font-family:verdana, helvetica, sans-serif;
   color:black;
   background:#fcfcfc;
   font-size:10px;
   line-height:10px;
   text-align:center;
}

.box_header {
   padding: 2px;
   margin-top:16px;
   border:2px solid #dddddd;
   font-family:verdana, helvetica, sans-serif;
   color:#3f3f3f;
   background:#f0f0f0;
   font-size:12px;
   line-height:14px;
}

.box_header_left {
   color:#3f3f3f;
   text-align:left;
}

.box_header_right {
   color:#3f3f3f;
   text-align:right;
}

div.box_header a {
   text-decoration: none;
}

div.box {
   padding: 4px;
   border:2px solid #dddddd;
   border-top:0px;
   font-family:verdana, helvetica, sans-serif;
   color:black;
   background:#ffffff;
   font-size:11px;
   line-height:14px;
}

img {
	border:0px;
	vertical-align:bottom;
}

.w3c {
	border:0px;
	vertical-align:bottom;
        width:88px;
	height:31px;
}

a	{font-family:verdana, arial, sans-serif;}
a:hover {
	color:red;
	text-decoration:none;
	font-family:verdana, arial, sans-serif;
	background: #dcdcdc;
}

h1 {
	font-family:verdana, arial, sans-serif;
	font-size:14px;
	color:#000000;
	cursor:text;
}

h2 {
	font-family:verdana, arial, sans-serif;
	font-size:13px;
	color:#000000;
	cursor:text;
}

h3 {
	font-family:verdana, arial, sans-serif;
	font-size:13px;
	color:#000000;
	cursor:text;
}

h4 {
	font-family:verdana, arial, sans-serif;
	font-size:13px;
	color:#000000;
	cursor:text;
}

p {
	font-family:verdana, arial, sans-serif;
	font-size:12px;
	color:#000000;
	line-height:14px;
	cursor:text;
}

pre {
	font-family:monospace;
	font-size:12px;
	color:#000000;
	line-height:14px;
	background: #e7e7e7;
	border: 1px solid #000000;
	padding: 2px;
	margin-left: 30px;
	margin-right: 75px;
	cursor:text;
}
	
ol { 
	color:#000000; 
	font-family: verdana, helvetica, sans-serif; 
	font-size: 12px; 
	line-height:14px;
	cursor:text;
}
	
ul { 
	color:#000000; 
	font-family: verdana, helvetica, sans-serif; 
	font-size: 12px; 
	line-height:14px;
	cursor:text;
}

li { 
	font-family: verdana, helvetica, sans-serif;
	color:#000000; 
	font-size: 12px; 
	margin-left: 0px; 
	margin-right: 0px; 
	margin-top: 4px; 
	margin-bottom: 0px;
	line-height:14px;
	cursor:text;
}

dd { 
	font-family: verdana, helvetica, sans-serif;
	color:#000000; 
	font-size: 12px; 
	margin-top: 4px; 
	line-height:14px;
	cursor:text;
}

dt { 
	font-family: verdana, helvetica, sans-serif;
	color:#000000; 
	font-size: 12px; 
	margin-top: 4px; 
	line-height:14px;
	cursor:text;
}

th { 
	font-family: verdana, helvetica, sans-serif;
	font-size: 12px; 
	color:#000000;
	font-weight:bold;
	cursor:text;
}

td { 
	font-family: verdana, helvetica, sans-serif;
	font-size: 12px; 
	color:#000000;
	cursor:text;
}

select {
	background:white; 
	color:black;
	border:2px solid #DDDDDD; 
	font-family:verdana, helvetica, sans-serif;
}

input {
	background:white; 
	color:black;
	border:2px solid #DDDDDD; 
	font-family:verdana, helvetica, sans-serif;
	vertical-align:middle;
}

div.center {
   padding: 4px;
   font-family:verdana, helvetica, sans-serif;
   color:black;
   background:#fcfcfc;
   font-size:12px;
   line-height:14px;
   text-align:center;
}